[defaults]
inventory = ./inventory/hosts.yaml
remote_user = root
remote_tmp = /tmp/.ansible-${USER}/tmp
host_key_checking = false
timeout = 30

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false

[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
